@model IEnumerable<TaskList.Core.Entities.Task>

<h1>Tasks List</h1>
<table id="SortebleTable" class="Grid">
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td>@item.DueDate.ToString("dd/MM/yy")</td>
            </tr>
        }
    </tbody>
</table>
<p>@Html.ActionLink("Add a new task", "NewTask")</p>

<h1>Tasks Due Today:</h1>
<ul>
    @foreach (var item in Model.Where(t => t.DueDate <= DateTime.Now))
    {
        <li>@item.Name</li>
    }
</ul>
